body {
    background-color: #FFA458;
    text-align: center;
}

.logo {
    width: 300px;
    height: auto;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.gif {
    width: 200px;
    height: auto;
}

.container ul {
    list-style:none;
    font-size: 20px;
}

/* RECIPES PAGES */
.recipe-img {
    width: 500px;
    height: auto;
}

/* The Recipe Name */
h2 {
    font-size: 30px;
}