body {
    background-color: #FFA458;
    text-align: center;
}

.logo {
    width: 300px;
    height: auto;
}

#title,
.recipe-box p {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

#title:hover {
    color: red;
}

.gif {
    width: 200px;
    height: auto;
}

.list-container {
    width: 1000px;
    margin: 0 auto;
}

.recipe-box {
    display: inline-block;
}

.list-container,
img {
    border-radius: 10px;
}

.list-container {
    background-color: white;
}

.recipe-box {
    margin: 15px;
}

.recipe-box p {
    font-size: 20px;
}

img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

img:hover {
    border: 10px solid #FFA458;
}

/* RECIPES PAGES */
.recipe-img {
    width: 500px;
    height: auto;
}

/* The Recipe Name */
h2 {
    font-size: 30px;
}


/* Grouping selector can group ANY TYPE of selectors and ANY NUMBER of them.

#title,
div ul {
    background-color: red;
}
*/